name: "Terraform Pipeline"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write
  pull-requests: write

jobs:
  static-analysis:
    name: Security & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Secret Detection
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ github.token }}

      # - name: Checkov Scan
      #   uses: bridgecrewio/checkov-action@master
      #   continue-on-error: true
      #   with:
      #     directory: .
      #     framework: terraform
      #     output_format: cli
      #     soft_fail: false

      # - name: TFLint
      #   uses: terraform-linters/setup-tflint@v4
      #   continue-on-error: true
      #   with:
      #     tflint_version: v0.50.0
      # - run: tflint --recursive

  validate:
    name: Validate Modules
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [aurora, ecr, efs, eks, network-hub, route53, sns, sqs]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init & Validate
        run: |
          cd modules/${{ matrix.module }}
          terraform init -backend=false
          terraform validate

  docs:
    name: Auto-Generate Docs
    runs-on: ubuntu-latest
    needs: [validate]
    if: github.event_name == 'push'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Render terraform docs
        uses: terraform-docs/gh-actions@v1.1.0
        with:
          working-dir: .
          recursive: true
          recursive-path: modules
          output-method: inject
          git-push: true

  # infracost:
  #   name: Cost Estimate
  #   if: github.event_name == 'pull_request'
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Infracost Setup
  #       uses: infracost/infracost-actions/setup@v3
  #       with:
  #         api-key: ${{ secrets.INFRACOST_API_KEY }}

  #     - name: Generate Estimate
  #       run: |
  #         infracost breakdown --path . \
  #                           --format json \
  #                           --out-file /tmp/infracost.json
          
  #         infracost comment github --path /tmp/infracost.json \
  #                                  --github-token ${{ github.token }} \
  #                                  --pull-request ${{ github.event.pull_request.number }} \
  #                                  --behavior update